__pycache__/
*.py[cod]
*$py.class
.venv/
env/
env
checkpoints/*.pt
checkpoints/**/*.pt
checkpoints/*.onnx*
checkpoints/**/*.onnx*
dataset*/
verification_output/
*.onnx

# Do not commit raw FITS images or metadata info files inside training directory
*.fits
*.fit
*.FITS
*.FIT
*.tif
*.tiff
*.TIF
*.TIFF
*.info.txt
*.cal.info.txt
